/* fontes
  font-family: 'Noto Sans', sans-serif;
*/

* {
  margin: none;
  padding: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  height: 1350px;
  width: 300px;
  margin: 0 auto;
  
  background-color: black;
}

h2 {
  font-size: 18px;
  color: rgb(255, 200, 0);
}

p {
  font-size: 14px;
}

a {
  color: rgb(255, 200, 0);
}

a :visited {
  color: rgb(255, 200, 0);
}

/* conteudo */

section.main {
  height: 400px;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

.main h2 {
  width: 250px;
  text-align: center;
  margin: 25px auto 0;

  /* color: yellow; */
}

.main p {
  width: 200px;
  text-align: center;
  margin: 15px auto 30px;

  color: yellow;
}

.main img {
  width: 250px;
}

/* end conteudo */

/* project */

section.project {
  width: 100%;
  height: 800px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

.project p {
  width: 200px;
  text-align: center;
  margin: 15px auto;
  word-spacing: 5px;

  color: yellow;
}

.project h2 {
  width: 250px;
  text-align: center;
  margin: 40px auto 15px;

  /* color: yellow; */
}

.project p.link {
  opacity: 0.6;
  word-spacing: normal;
  font-size: 8pt;

  transition: 450ms;
}

.project p.link:hover {
  opacity: 1;
}

.project img {
  width: 300px;
  border: 5px solid black
}

/* end project */

/* footer */

footer.footer {
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

.footer p {
  color: yellow;
  opacity: 0.6;
  font-family: 'Noto Sans', sans-serif;
  font-size: 8pt;
  text-align: center;
  
  transition: 450ms;
}

.footer p:hover {
  opacity: 1;
}

/* end footer */